.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  background-color: black;
  padding: 50px;
}
.converter-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
}
label {
  display: block;
  margin: 10px 0 5px;
}
